h1 {
  font-family: 'Bree Serif', serif!important;
  font-weight: bold!important;
  font-size: 34px;
  line-height: 40px!important;
  margin-bottom: 30px;
}

body {
  margin: 20px!important;
}

.tag {
  text-align: center;
  color: white;
  height: 60px;
  background-color:#144A7C;
  font-size: 40px;
  font-family: Charmonman;
  margin-bottom: 20px;
}

.byline {
  color: #144A7C!important;
  font-family: georgia;
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}

.dateline {
  color: #666!important;
  font-family: arial;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

contact {
  color: #144A7C!important;
}

body {
  font-size: 15px;
  padding: 15px 15px;
}

Label {
  color: #144A7C!important;
  font-size: 15px!important;
  font-weight: bold;
  padding-bottom: 30px;
}
