h1 {
  font-family: georgia!important;
  font-size: 34px;
}

.byline {
  color: #144A7C!important;
  font-family: georgia;
  font-size: 14px;
  font-weight: 700;
}

.dateline {
  color: #666!important;
  font-family: arial;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}


body {
  font-size: 15px;
  padding: 15px 15px;
}

img {
  max-width: 100%;
}

figcaption {
  color: #999;
  font-family: arial;
  font-size: 12px;
  font-weight: 400;
  margin-top: 0px;
}
