html {
  font-size: 10px;
}

h1 {
  font-family: 'Bree Serif', serif!important;
  font-weight: bold!important;
  font-size: 4rem;
  line-height: 4rem!important;
  margin-bottom: 3rem;
}

.byline {
  color: #144A7C!important;
  font-family: georgia;
  font-size: 1em;
  font-weight: 700;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.dateline {
  color: #666!important;
  font-family: arial;
  font-size: 0.9rem!important;
  font-weight: 400;
  text-transform: uppercase;
}

tag {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Charmonman', cursive;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

section {
  color: #144A7C!important;
  font-family: georgia;
  font-size: 1.5rem;
}

body {
  width: 52%;
 margin-top: 12.5%;
 margin-bottom: 7.5%;
 display: flex;
 flex-direction: column;
 align-items: center;
 font-family: 'Merriweather', serif;
 font-weight: 300;
 font-size: 2rem;
 text-align: center;
 line-height: 1.8;
}

p{
  min-width: 200px;
  min-height: 20px;
}

img {
  margin-bottom: 7.5%;
  height: auto;
  display: block;
  display: inline-block;
  width: 50%;
}

figure {
  margin-top: 3rem;
  margin-bottom: 3rem;
  overflow: hidden;
  display: inline-block;
  width: 50%;
}

figcaption {
  color: #999;
  font-family: arial;
  font-size: 1.2rem!important;
  font-weight: 400;
}

@media only screen and (min-resolution: 300dpi) and (min-width: 320px) and (max-width: 480px) {
  body {
    font-size: 15px;
  }
}
